{
  "openapi": "3.1.0",
  "info": {
    "title": "AILabTools API",
    "description": "Hairstyle Changer Pro 与异步查询接口",
    "version": "1.0.0"
  },
  "servers": [ { "url": "https://www.ailabapi.com" } ],
  "security": [ { "apiKeyAuth": [] } ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": { "type": "apiKey", "in": "header", "name": "ailabapi-api-key" }
    },
    "schemas": {
      "HairstyleEditorForm": {
        "type": "object",
        "required": ["task_type", "auto", "image", "hair_style"],
        "properties": {
          "task_type": { "type": "string", "enum": ["async"], "description": "Task Type. async: Asynchronous tasks." },
          "auto": { "type": "integer", "enum": [1], "description": "Mode. 1: Automatic mode." },
          "image": { "type": "string", "format": "binary", "description": "Main image file (PNG/JPG/JPEG). ≤3MB, 200x200~1999x1999." },
          "hair_style": {
            "type": "string",
            "description": "Hairstyle. See docs for categories.",
            "enum": [
              "BuzzCut","UnderCut","Pompadour","SlickBack","CurlyShag","WavyShag","FauxHawk","Spiky","CombOver","HighTightFade","ManBun","Afro","LowFade","UndercutLongHair","TwoBlockHaircut","TexturedFringe","BluntBowlCut","LongWavyCurtainBangs","MessyTousled","CornrowBraids","LongHairTiedUp","Middle-parted",
              "ShortPixieWithShavedSides","ShortNeatBob","DoubleBun","Updo","Spiked","bowlCut","Chignon","PixieCut","SlickedBack","LongCurly","CurlyBob","StackedCurlsInShortBob","SidePartCombOverHairstyleWithHighFade","WavyFrenchBobVibesfrom1920","BobCut","ShortTwintails","ShortCurlyPixie","LongStraight","LongWavy","FishtailBraid","TwinBraids","Ponytail","Dreadlocks","Cornrows","ShoulderLengthHair","LooseCurlyAfro","LongTwintails","LongHimeCut","BoxBraids"
            ]
          },
          "color": {
            "type": "string",
            "nullable": true,
            "description": "Color (optional).",
            "enum": [
              "blonde","platinumBlonde","brown","lightBrown","blue","lightBlue","purple","lightPurple","pink","black","white","grey","silver","red","orange","green","gradient","multicolored","darkBlue","burgundy","darkGreen"
            ]
          },
          "image_size": { "type": "integer", "nullable": true, "enum": [1,2,3,4], "description": "Returns the number of images. Default 1." }
        }
      },
      "HairstyleEditorResponse": {
        "type": "object",
        "properties": {
          "request_id": { "type": "string" },
          "log_id": { "type": "string" },
          "error_code": { "type": "integer" },
          "error_msg": { "type": "string", "nullable": true },
          "error_detail": {
            "type": "object",
            "properties": {
              "status_code": { "type": "integer" },
              "code": { "type": "string", "nullable": true },
              "code_message": { "type": "string", "nullable": true },
              "message": { "type": "string", "nullable": true }
            }
          },
          "task_type": { "type": "string" },
          "task_id": { "type": "string" }
        }
      },
      "AsyncTaskResultsResponse": {
        "type": "object",
        "properties": {
          "error_code": { "type": "integer" },
          "error_msg": { "type": "string", "nullable": true },
          "error_detail": {
            "type": "object",
            "properties": {
              "status_code": { "type": "integer" },
              "code": { "type": "string", "nullable": true },
              "code_message": { "type": "string", "nullable": true },
              "message": { "type": "string", "nullable": true }
            }
          },
          "task_status": { "type": "integer", "description": "0: queued, 1: processing, 2: success", "enum": [0,1,2] },
          "data": { "type": "object", "properties": { "images": { "type": "array", "items": { "type": "string", "format": "uri" } } } }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error_code": { "type": "integer" },
          "error_detail": { "type": "object", "properties": { "message": { "type": "string" } } }
        }
      }
    }
  },
  "paths": {
    "/api/portrait/effects/hairstyle-editor-pro": {
      "post": {
        "summary": "Hairstyle Changer Pro",
        "description": "Use multipart/form-data per official docs.",
        "requestBody": {
          "required": true,
          "content": { "multipart/form-data": { "schema": { "$ref": "#/components/schemas/HairstyleEditorForm" } } }
        },
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HairstyleEditorResponse" } } } },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/ai/common/async-task-results": {
      "get": {
        "summary": "Query Async Task Results",
        "parameters": [ { "name": "task_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Async task id" } ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AsyncTaskResultsResponse" } } } },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    }
  }
}
