{
  "openapi": "3.1.0",
  "info": {
    "title": "AILabTools API",
    "description": "Hairstyle Changer Pro 与异步查询接口",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://www.ailabapi.com" }
  ],
  "security": [ { "apiKeyAuth": [] } ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": { "type": "apiKey", "in": "header", "name": "ailabapi-api-key" }
    },
    "schemas": {
      "HairstyleEditorForm": {
        "type": "object",
        "required": ["task_type", "auto", "image", "hair_style"],
        "properties": {
          "task_type": { "type": "string", "description": "任务类型，固定 async" },
          "auto": { "type": "integer", "description": "模式，固定 1" },
          "image": { "type": "string", "format": "binary", "description": "上传的人像图片文件（PNG/JPG/JPEG）" },
          "hair_style": { "type": "string", "description": "发型，参考官方枚举" },
          "color": { "type": "string", "nullable": true, "description": "发色，可选" },
          "image_size": { "type": "integer", "nullable": true, "description": "返回图片张数(1-4)，默认1" }
        }
      },
      "HairstyleEditorResponse": {
        "type": "object",
        "properties": {
          "request_id": { "type": "string" },
          "log_id": { "type": "string" },
          "error_code": { "type": "integer" },
          "error_msg": { "type": "string", "nullable": true },
          "error_detail": {
            "type": "object",
            "properties": {
              "status_code": { "type": "integer" },
              "code": { "type": "string", "nullable": true },
              "code_message": { "type": "string", "nullable": true },
              "message": { "type": "string", "nullable": true }
            }
          },
          "task_type": { "type": "string" },
          "task_id": { "type": "string" }
        }
      },
      "AsyncTaskResultsResponse": {
        "type": "object",
        "properties": {
          "error_code": { "type": "integer" },
          "error_msg": { "type": "string", "nullable": true },
          "error_detail": {
            "type": "object",
            "properties": {
              "status_code": { "type": "integer" },
              "code": { "type": "string", "nullable": true },
              "code_message": { "type": "string", "nullable": true },
              "message": { "type": "string", "nullable": true }
            }
          },
          "task_status": { "type": "integer", "description": "0:排队 1:处理中 2:成功" },
          "data": {
            "type": "object",
            "properties": {
              "images": { "type": "array", "items": { "type": "string", "format": "uri" } }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error_code": { "type": "integer" },
          "error_detail": { "type": "object", "properties": { "message": { "type": "string" } } }
        }
      }
    }
  },
  "paths": {
    "/api/portrait/effects/hairstyle-editor-pro": {
      "post": {
        "summary": "Hairstyle Changer Pro",
        "description": "根据官方文档，使用 multipart/form-data 提交文件与表单字段。",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/HairstyleEditorForm" }
            }
          }
        },
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HairstyleEditorResponse" } } } },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/ai/common/async-task-results": {
      "get": {
        "summary": "查询异步任务结果",
        "parameters": [
          { "name": "task_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "异步任务ID" }
        ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AsyncTaskResultsResponse" } } } },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    }
  }
}
