{
  "openapi": "3.1.0",
  "info": {
    "title": "AILabTools API",
    "description": "基于稳定扩散模型的发型编辑Pro功能API",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.ailabtools.com/v1" }
  ],
  "security": [ { "apiKeyAuth": [] } ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": { "type": "apiKey", "in": "header", "name": "ailabapi-api-key" }
    },
    "schemas": {
      "HairstyleEditorForm": {
        "type": "object",
        "required": ["image"],
        "properties": {
          "image": { "type": "string", "format": "binary", "description": "上传的人像图片文件（PNG/JPG/JPEG）" },
          "hairstyle": { "type": "string", "description": "发型类型，可选" },
          "hair_color": { "type": "string", "description": "发色，可选" }
        }
      },
      "HairstyleEditorResponse": {
        "type": "object",
        "properties": {
          "request_id": { "type": "string", "example": "req_123456789" },
          "log_id": { "type": "string", "example": "log_987654321" },
          "error_code": { "type": "integer", "example": 0 },
          "result": {
            "type": "object",
            "properties": {
              "task_id": { "type": "string", "example": "task_abcdef123456" }
            }
          }
        }
      },
      "AsyncTaskResponse": {
        "type": "object",
        "properties": {
          "request_id": { "type": "string" },
          "log_id": { "type": "string" },
          "error_code": { "type": "integer", "example": 0 },
          "result": {
            "type": "object",
            "properties": {
              "task_id": { "type": "string" },
              "status": { "type": "string", "enum": ["pending", "processing", "completed", "failed"] },
              "result_image": { "type": "string", "format": "byte" }
            }
          }
        }
      },
      "FaceAnalysisForm": {
        "type": "object",
        "required": ["image"],
        "properties": {
          "image": { "type": "string", "format": "binary", "description": "上传的人像图片文件（PNG/JPG/JPEG）" }
        }
      },
      "FaceAnalysisResponse": {
        "type": "object",
        "properties": {
          "request_id": { "type": "string" },
          "log_id": { "type": "string" },
          "error_code": { "type": "integer", "example": 0 },
          "result": {
            "type": "object",
            "properties": {
              "face_num": { "type": "integer", "example": 1 },
              "face_info": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "face_id": { "type": "string" },
                    "face_rect": {
                      "type": "object",
                      "properties": {
                        "x": { "type": "integer" },
                        "y": { "type": "integer" },
                        "width": { "type": "integer" },
                        "height": { "type": "integer" }
                      }
                    },
                    "face_angle": { "type": "number" },
                    "face_proportion": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error_code": { "type": "integer" },
          "error_detail": { "type": "object", "properties": { "message": { "type": "string" } } }
        }
      }
    }
  },
  "paths": {
    "/hairstyle-editor-pro": {
      "post": {
        "summary": "发型编辑Pro",
        "description": "基于稳定扩散模型，智能编辑人像图片中的发型和颜色",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/HairstyleEditorForm" }
            }
          }
        },
        "responses": {
          "200": { "description": "请求成功", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HairstyleEditorResponse" } } } },
          "400": { "description": "请求参数错误", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/async-task-results": {
      "get": {
        "summary": "异步任务查询",
        "description": "查询异步任务的处理结果，获取最终的图片处理结果",
        "parameters": [
          { "name": "task_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "异步任务ID" }
        ],
        "responses": {
          "200": { "description": "请求成功", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AsyncTaskResponse" } } } },
          "400": { "description": "请求参数错误", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/face-analysis": {
      "post": {
        "summary": "人脸分析",
        "description": "分析图片中的人脸信息，包括人脸数量、位置、角度等，用于前端验证",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/FaceAnalysisForm" }
            }
          }
        },
        "responses": {
          "200": { "description": "请求成功", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FaceAnalysisResponse" } } } },
          "400": { "description": "请求参数错误", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    }
  }
}
